<div class="jumbotron mt-4">
    <h1 class="display-4">Contact List</h1>
    <p class="lead">An easy way to keep save all information about the most importan... Your friends and parents!!!</p>
    <hr class="my-4">
    <p>Enjoy the best app to have in a fast and easy way all the information of your contacts and family and never lose contact with them</p>
    <a href="#" class="btn btn-primary">Sign Up</a>
</div>
<div class="jumbotron mt-4">
    <h1 class="display-4">Contact List</h1>
    <p class="lead">An easy way to keep save all information about the most importan... Your friends and parents!!!</p>
    <hr class="my-4">
    <p>Enjoy the best app to have in a fast and easy way all the information of your contacts and family and never lose contact with them</p>
    <a href="#" class="btn btn-primary">Sign Up</a>
</div>
